@use "../../01-settings/" as s;
@use "../../03-tools/button-generator" as btn-gen with(
    $border-radius: s.$border-radius_decorative-small,
    $input-field-height: s.$input_min-height,
    $set-shadow-inset-hover: true,
    $set-shadow-inset-pressed: true,
);

.sv-ui__input-button {
  @include btn-gen.make-button(
    $set-basics: true,
    $set-size: true,
    $set-design: false,
  ); 
  &.loud {
    @include btn-gen.make-button(
      $set-basics: false, 
      $set-size: false, 
      $set-design: true,

      $button-color: s.$lmode_loud-color-bg,
      $button-text-color: s.$lmode_loud-color-text,
    );
  }
  &.quiet {
    @include btn-gen.make-button(
      $set-basics: false, 
      $set-size: false, 
      $set-design: true,

      $button-color: s.$lmode_quiet-color-bg,
      $button-text-color: s.$lmode_quiet-color-text,
    );
  }
  &.silent {
    @include btn-gen.make-button(
      $set-basics: false, 
      $set-size: false, 
      $set-design: true,

      $button-color: s.$lmode_gentle-shade_loud,
      $button-text-color: $lmor
    );
  }
}
