@use "../../01-settings" as s;
@use "../../02-patterns/extend/input-boxes" as inp-bx;
@use "../../04-layout/spacings" as l-sp;

.sv-ui__input-textfield {
  display: grid;
  grid-template-areas:  "label label"
                        "input check"
                        "alert alert";
  grid-template-columns: 1fr max-content;
  max-width: s.$form-width;

  label {
    grid-area: label;
  }

  input {
    @extend %input_one-liner-box;
    margin-top: s.$spacing_tight;
    grid-area: input;
  }

  .validationAlert {
    grid-area: alert;
    > * {
      margin-top: s.$spacing_tight;
      padding: l-sp.$padding_tight;
      border-radius: s.$border-radius_decorative-small;
    }
    .info {
      background-color: s.$lmode_info-color;
      color: s.$lmode_info-color-contrast;
    }
    .error, .warning {
      color: s.$lmode_gentle-shade_silent;
      background-color: s.$lmode_error-color;
    }
    .success {
      color: s.$lmode_gentle-shade_silent;
      background-color: s.$lmode_success-color;
    }
  }
}
