@use "../../01-settings" as s;
@use "../../04-layout/spacings" as l-sp;

%input_one-liner-box {
  min-height: s.$input_min-height;
  border: s.$lmode_border-quiet;
  border-radius: s.$border-radius_decorative-small;
  padding: l-sp.$padding_tight;
  background-color: s.$lmode_gentle-shade_silent;
  &:focus, &:focus-visible {
    box-shadow: 0 0 20px 0px s.$lmode_calm-color-bg;
  }
}
