//
// Light mode
//

// shades near the quiet end - low contrast to page
$lmode_gentle-shade_loud: #dfc296;
$lmode_gentle-shade_quiet: #fff0cd;
$lmode_gentle-shade_silent: #FFF6EB; // brightest value of the light theme

// shades near the loud end - high contrast to page
$lmode_strong-shade_loud: #1C2541;
$lmode_strong-shade_quiet: #535C77;

// main colors from strong to weak
$lmode_loud-color-bg: #cc0066; // usually a high contrast stopper
$lmode_loud-color-text: $lmode_gentle-shade_silent;

$lmode_melodic-color-bg: #52B792; // usually the brand color
$lmode_melodic-color-text: $lmode_strong-shade_loud;

$lmode_quiet-color-bg: #f8c662;
$lmode_quiet-color-text: $lmode_strong-shade_loud;


