//
// Light theme
//

// main colors from strong to weak
$light_loud-color-bg: ; // usually a high contrast stopper
$light_loud-color-text: ;

$light_melodic-color-bg: ; // usually the brand color
$light_melodic-color-text: ;

$light_quiet-color-bg: ;
$light_quiet-color-text: ;

// shades near the quiet end - low contrast to page
$light_gentle-shade_loud: ;
$light_gentle-shade_silent: ; // brightest value of the light theme

// shades near the light end - high contrast to page
$light_strong-shade_loud: ;
$light_strong-shade_quiet: ;
